{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}设定设备信息{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/probe/filter.css' %}">{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
			<div class="panel panel-default">
				<div style="text-align:center">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{ content.as_p }}
						<div class="submit" >
							<input type="submit" value="提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}